.expire {
    position: absolute;
    right: 20pt !important;
    top: 10pt !important;
    color: #888888;
    font-size: 9pt;
  }

  .instructorsLink {
    cursor: pointer;
    color: #FFF;
    width: 100%;
    transition: .2s ease-in-out;
}
.instructorsLink:hover {
    transform: translateX(15px);
}

.icon-check{
  color: white;
}
.bx--search-magnifier { top: 40%; }
.bx--search--xl .bx--search-input { border-radius: 4pt; }
.bx--btn.bx--btn--icon-only.bx--tooltip__trigger.bx--tooltip--visible .bx--assistive-text, .bx--btn.bx--btn--icon-only.bx--tooltip__trigger.bx--tooltip--visible + .bx--assistive-text, .bx--btn.bx--btn--icon-only.bx--tooltip__trigger:hover .bx--assistive-text, .bx--btn.bx--btn--icon-only.bx--tooltip__trigger:hover + .bx--assistive-text, .bx--btn.bx--btn--icon-only.bx--tooltip__trigger:focus .bx--assistive-text, .bx--btn.bx--btn--icon-only.bx--tooltip__trigger:focus + .bx--assistive-text {
   clip: unset;
  /* margin: auto; */
  /* overflow: visible; */
}

.right {
  display: flex;
  display: inline-block;
  text-align: right;
  align-content: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0;
}
