
.footerStyle {
    position: relative;
    padding-bottom: 2rem;
    color: #222;
    z-index: 1;
}
.footerRooeda {
    color: #A5A5A5;
}
.footerRooeda p {
    padding-top: 2pt;
    font-size: 10pt;
}
.footerRooeda span {
    padding-left: 5pt;
    padding-right: 5pt;
    opacity: 0.50;
}
.footerRooeda a {
    color: #A5A5A5;
    font-size: 8pt;
    font-weight: 500;
    float: right;
}
.footerIconRooeda {
    margin-bottom: 15pt;
    max-width: 36pt;
}
.footerIconLocked {
    position: relative;
    top: 2pt;
    margin-right: 10pt;
    max-width: 16px;
    float: left;
}
.footerMenu li {
    margin-left: 80pt;
    padding: 10pt;
    font-size: 13pt;
    transition: .2s ease-in-out;
}

.footerMenu li:hover { transform: translate(14pt); }
.footerMenu a { 
    color: #000; 
    font-weight: 600; 
}

.footerMenu li::before {
    content: "\2022  ";
    color: #ff5000;
    opacity: 0;
    margin-right: 4px;
    transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
  }

.footerMenu li:hover::before {
    content: "\2022  ";
    color: #ff5000;
    opacity: 1;
    margin-right: 4px;
}
.footerAddress { color: #A5A5A5; }

@media screen and (max-width: 66rem)  { 
    .footerStyle { 
        height: auto;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .footerMenu li { margin-left: 0pt; }
    .footerContact { padding-top: 5%; }
    .footerIconLocked {
        margin-right: 10pt;
        max-width: 16px;
    }
    .footerRooeda { padding-top: 10%; }
    .footerRooeda a { 
        padding-top: 2%;
        float: none;
    }
}

@media screen and (max-width: 42rem)  { 
    .footerRooeda p { 
        padding-top: 0pt;
        font-size: 8pt; 
    }
    .footerIconLocked { 
        margin-right: 5pt;
        max-width: 12px; 
    }
}

@media screen and (max-width: 42rem) and (orientation:landscape) {
    .footerRooeda { padding-top: 15%; }
    .footerRooeda p { 
        padding-top: 0pt;
        font-size: 8pt; 
    }
}