
.trainerRow p[data-type='title'] { 
    font-weight: 600;
    color: gray; 
}

.trainerRow .salon {
    padding-left: 0px;
   left: 0%;
   position: absolute;
}

.profileContainer {
    padding-left: 25%;
    padding-right: 25%;
}

.packContent {
    position: relative;
    padding: 15pt;
    min-height: 100%;
}

.packBox[data-type='profile'] {
    margin-top: 20pt;
}

 .trainerRow.center-title{ 
    position: absolute;
    float: right; 
    text-align: right
}

.bikeNumber {
    position: absolute;
    right: 10pt;
    display: inline-block;
}

.no-wrap{
    text-align: left;
    //width: 10rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 5px;
}
.pt{
    padding-top: 5px;
}

.center-title{
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%) 
}

.bikeNumber-row{
    right: 5%;
    position: absolute;
    transform: translate(-50%, 0%) 
}


b.right {
    display: inline-block;
   // text-align: right;
    padding-right: 25%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0;
}

.bx--col-xlg-3 {
    width: 100%;
    padding-right: 1rem;
}

.bx--col-xlg-2 {
    text-align: center;
}
.row-padding{
    padding: 10px 0px 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
