$color-gray-1: #A1A1A1;
$color-gray-2: #555;
$color-gray-3: #888;
$color-white: #FFF;
$black: #000;
$grey: rgb(196, 196, 196);
$color-orange: #FF7300;

.no-class-rooms{
    color: #FFF;
    z-index: 100;
    font-weight: 600;
    max-width: 50%;
    object-fit: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(50%, -50%) ;
    align-content: center;
  }

  .no-class-rooms-button{
    z-index: 100;
    max-width: 50%;
    object-fit: cover;
    padding-top: 10%;
    left: 50%;
    padding-left: 2%;
    position: relative;
    transform: translate(50%, -50%);
    align-content: center;
  }


  .bx--list-box.bx--list-box--inline .bx--list-box__field{
    padding: 0 2rem 0 1rem;
    color: #FFF;
    min-width: 147px;
    border-radius: 24pt;
    border: none;
  }


  .bx--list-box--inline .bx--list-box__label{
      color: white;
      font-weight: 600;
      border: none;
     // transition: .15s ease-in-out;
      //font-size: 1rem;
     // padding: calc(0.875rem - 3px) 60px calc(0.875rem - 3px) 22px;
  }

  .bx--list-box__menu-icon > svg {
    height: 100%;
    font-weight: 600;
}

.bx--list-box.bx--list-box--inline, .bx--list-box.bx--list-box--inline .bx--list-box__field {
    height: 2.5rem;
}

.bx--list-box__field:focus {
    outline: 0px solid transparent;
    outline-offset: -2px;
}

//   .bx--list-box__menu-item .bx--list-box__menu-item--active .bx--list-box__menu-item--highlighted{
//     background-color: #222;
//     position: absolute;
//   }

//   .bx--list-box__menu-item--highlighted .bx--list-box__menu-item__option {
//     color: #808080;
// }
//     .bx--list-box__menu-item{
//     background-color: #222;
    
//   }
//   .bx--list-box__menu-item__option{
//     color: #808080;
// }

// .bx--list-box__menu-item--active .bx--list-box__menu-item__option {
//     color: white;
// }


@media screen and (max-width: 66rem) {
    .calendarContainer { width: 175%; }
    .calendarControlArea { width: 100vw;}
}
@media screen and (max-width: 42rem) {
    .calendarContainer { width: 300%; }
    .calendarControlArea { width: 100vw; }
}
