
.packBox {
    border: 1px solid #777777;
    border-radius: 15pt;
    margin-bottom: 25pt;
    background-color: rgba(57,57,57, 0.60);
    backdrop-filter: saturate(180%) blur(10px);
    transition: .15s ease-in-out;
}
.packBox:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #FF7300;
    border-color: #FF7300;
    transform: scale(1.05);
}

.packContentBottom p {
    text-align: center;
    font-size: 10pt;
}
.packContentBottom[data-type='expiration'] p {
    text-align: center;
    font-size: 8pt;
    opacity: 0.5;
}
.packBox[data-type='profile'] {
    margin-top: 20pt;
    border: 1px solid #FFF;
    border-radius: 10pt;
}
.BoxIcon {
    fill: #FFF;
}

@media screen and (max-width: 66rem)  { 
    .profileContainer {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media screen and (max-width: 42rem) {
    .dashBoard { height: auto; }
    .profileContainer {
        padding-left: 25%;
        padding-right: 25%;
    }
}
@media screen and (max-width: 42rem) and (orientation:landscape) {
    .profileContainer {
        padding-left: 35%;
        padding-right: 35%;
    }
}