@import './components/NavigationBar/NavigationBar.scss';
@import './content/Home/Home.scss';
@import './content/Profile/Profile.scss';

html, body { 
    background-color: #292929; 
}
a { text-decoration: none; }
.alignBottom {
    position: absolute;
    bottom: 50pt;
    right: 0;
    left: 0;
}
.alignBottom[data-type='home'] { bottom: 25%; }
.alignBottom[data-type='sideBar'] { bottom: 55pt; }
.alignBottom[data-type='privacyPolicy'] { bottom: 35pt; }
.centerTitle { text-align: center; }
.centerTitle[data-type='packs'] { padding-bottom: 50pt; }
.standardContainer {
    min-height: 100vh;
    color: #FFF;
    text-align: center;
    background-color: #595959;
    padding-top: 10%;
    padding-bottom: 5%;
    background-image: url(logo-rooeda.svg);
    background-position: 200% 10%;
    background-size: 80%;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}
.react-responsive-modal-modal { 
    width: 100%;
    max-width: 340px !important;
    border-radius: 15pt; 
    padding-top: 3rem !important;
}
.react-responsive-modal-overlay {
    background: rgba(25, 25, 25, 0.75) !important;
}
.bx--content { 
    padding: 0; 
    min-height: 100vh !important;
    background-color: #292929; 
}
.bx--btn { 
    font-size: 1rem;
    padding: calc(0.875rem - 3px) 60px calc(0.875rem - 3px) 22px; 
}
.bx--btn--primary { 
    font-weight: 600;
    border: none;
    border-radius: 24pt;
    background-color: #FF7300; 
    transition: .15s ease-in-out;
}
.bx--btn--primary:hover { 
    transform: scale(1.15); 
    -webkit-transform: scale(1.15); 
}
.bx--btn--primary:active { 
    transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
}
.bx--btn--secondary {
    font-weight: 600;
    border: none;
    border-radius: 24pt;
    transition: .15s ease-in-out;
}

.bx--btn--secondary:hover {
    background-color: #222;
}
.bx--btn--ghost.bx--btn--sm { 
    border-radius: 4pt; 
    margin-right: 10pt;
}
.bx--text-input { 
    border-radius: 4pt;
    outline: none;
 }
.bx--text-input:focus, .bx--text-input:active { 
    outline: none; 
    border-left: 2pt solid #00cc00;
}
.bx--btn--primary:focus, 
.bx--btn--secondary:focus,
.bx--btn--primary:active,
.bx--btn--secondary:active
{
    border: none;
    box-shadow: none;
}
.bx--checkbox-label:before {
    background-color: #FFF;
    border: none;
    border-radius: 4pt;
}
.bx--tabs { margin-top: 20pt; } 
.bx--tabs-trigger { 
    background-color: #777777; 
    border-radius: 4pt;
}
.bx--tabs-trigger-text { color: #FFF; }
a.bx--tabs__nav-link { color: #808080 }
a.bx--tabs__nav-link:focus, a.bx--tabs__nav-link:active {
    color: #FFF;
    outline: none;
}
.bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link:focus, .bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link:active {
    color: #FFF;
    outline: none;
}
.bx--tabs__nav-item--selected:not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link {
    color: #FFF;
    background-color: #39393999;
    border-top-left-radius: 4pt;
    border-top-right-radius: 4pt;
}
.bx--tabs__nav-item:hover:not(.bx--tabs__nav-item--selected):not(.bx--tabs__nav-item--disabled) .bx--tabs__nav-link {
    color: #FFF;
}
.Toastify__toast--default {
    font-size: 9pt;
    line-height: 12pt;
    cursor: grab !important;
    padding-left: 36pt !important;
    color: #FFF !important;
    border-radius: 4pt !important;
    box-shadow: unset !important;
    background-image: url(logo.png) !important;
    background-color: rgba(25,25,25, 0.80) !important;
    backdrop-filter: saturate(180%) blur(5pt);
    background-repeat: no-repeat !important;
    background-position: 12pt center !important;
    background-size: 16pt !important;
}
.Toastify__toast--default:focus { cursor: grab; } 
.Toastify__close-button--default { 
    color: #777777 !important; 
    opacity: 1 !important;
}
.Toastify__progress-bar--default {
    background: #777777 !important;
}

@media screen and (max-width: 66rem) {
    .standardContainer {
        padding-top: 15%;
        padding-bottom: 15%;
    }
}
@media screen and (max-width: 42rem) {
    .standardContainer {
        padding-top: 25%;
        padding-bottom: 35%;
        background-image: unset;
        background-position: -50% -20%;
        background-size: 120%;
    }
}
@media screen and (max-width: 42rem) and (orientation:portrait) {
    h1 {
        font-size: 2rem;
        line-height: 2rem;
    }
    .alignBottom[data-type='sideBar'] { bottom: 100pt; }
    .alignBottom[data-type='home'] { bottom: 20%; }
    .Toastify__toast-container { 
        width: 90% !important; 
        margin: 5% !important;
    }
}
@media screen and (max-width: 42rem) and (orientation:landscape) {
    .alignBottom[data-type='sideBar'] { bottom: 40pt; }
}
@media screen and (max-width: 20rem) and (orientation:portrait) {
    .alignBottom[data-type='home'] { bottom: 25%; }
}